<nav class="navbar navbar-inverse navbar-bottom" align='center'>
  <div class='container' id='footer_padding'>
    <div class='row' ></div>
    <div class='row' class='footer_row'>
      <div class='col-lg-4' align='center'>
        <span class='footer_span'>Calm</span>
      </div>
      <div class='col-lg-4' align='center'>
        <span class='footer_span'>Resolution</span>
      </div>
      <div class='col-lg-4' align='center'>
        <span class='footer_span'>Peace</span>        
      </div>            
    </div>
  </div>
</nav>